<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>3921683177-ncbmlru60geit8v52u2ei1f9iludfpqh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.3921683177-ncbmlru60geit8v52u2ei1f9iludfpqh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>3921683177-0jd2k39v4v8iimqlo6jkpvv0u1gpfdd1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyApFNyuA3_2xXZCNtOu1rQP6PXSyv_Iw7c</string>
	<key>GCM_SENDER_ID</key>
	<string>3921683177</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.webiots.probotgpt</string>
	<key>PROJECT_ID</key>
	<string>probot-38408</string>
	<key>STORAGE_BUCKET</key>
	<string>probot-38408.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:3921683177:ios:54fe908a0f397d25e90678</string>
</dict>
</plist>